<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/style.css">
<%- include('partials/navbar.ejs') %>
<div class="container">
    <h1 class="display-3 text-center mb-4">show page for <%= product.name %></h1>
    <div class="row">
        <div class="col-lg-8">
            <img class="img-fluid" src="https://picsum.photos/1920/1080" alt="">
        </div>
        <div class="col-lg-4">
            <h3>More Details</h3>
            <ul class="list-group">
                <li class="list-group-item active"><%= product.name %></li>
                <li class="list-group-item"><%= product.price %></li>
                <li class="list-group-item"><%= product.sellerName %></li>
                <li class="list-group-item"><%= product.sellerAddress %></li>
                <li class="list-group-item"><%= product.sellerPhone %></li>
                <li class="list-group-item">inStock: <%= product.inStock %></li>
            </ul>
            <a class="me-3 btn btn-lg btn-warning" href="/products/<%= product._id %>/edit">Edit</a>
            <form class="mt-3" action="/products/<%= product._id %>?_method=delete" method="post">
                <input class="btn btn-danger btn-lg" type="submit" value="delete">
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>