<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
<style>
    #mapContainer {
        margin: 0 auto 2rem auto;
        width: 50%;
        height: 20rem;
    }
</style>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% for(let idx in hotel.image) { %>
                    <div class="carousel-item <%= idx==0?'active':'' %>">
                        <img src="<%= hotel.image[idx] %>" class="d-block w-100" alt="...">
                    </div>
                    <% } %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <strong>Name</strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <%= hotel.name %>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>Price</strong>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <%= hotel.price %>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>Address</strong>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <%= hotel.address %>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <strong>Description</strong>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <%= hotel.description %>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <strong>Created At</strong>
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <%= moment(hotel.createdAt).fromNow() %>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <strong>Average Rating</strong>
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <%= hotel.averageRating.toFixed(2) %>
                        </div>
                    </div>
                </div>
            </div>
            <% if (currentUser) { %>
                <div class="mt-3 d-flex">
                    <a href="/hotels/<%= hotel._id %>/edit" class="btn btn-warning me-3">Edit</a>
                    <form action="/hotels/<%= hotel._id %>?_method=delete" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </div>
            <% } %>
            <div class="mt-3">
                <a href="/hotels/<%= hotel._id %>/reviews/new" class="btn btn-primary">Add a new Review</a>
                <a href="/hotels/<%= hotel._id %>/checkout" class="btn btn-success">Book Now</a>
                <a style="color: <%=likeExists?'green':'black'%>; font-size: 3rem;" href="/hotels/<%= hotel._id %>/upvote"><i class="bi bi-hand-thumbs-up-fill"></i></a>
                <span><%= hotel.upvotes.length %></span>
                <a style="color: <%=dislikeExists?'red':'black'%>; font-size: 3rem;" href="/hotels/<%= hotel._id %>/downvote"><i class="bi bi-hand-thumbs-down-fill"></i></a>
                <span><%= hotel.downvotes.length %></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h1 class="mt-4">Reviews</h1>
            <% for( let review of reviews ) { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title"><%= review.title %></h5>
                    <p class="card-text"><%= review.body %></p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: <%=20*review.stars%>%;"
                            aria-valuenow="<%=20*review.stars%>" aria-valuemin="0" aria-valuemax="100">
                            <%= review.stars %>
                        </div>
                    </div>
                    <% if (currentUser) { %>
                        <div class="d-flex">
                            <a href="/hotels/<%= hotel._id %>/reviews/<%= review._id %>/edit"
                                class="mt-3 btn btn-warning btn-sm">Edit</a>
                            <form action="/hotels/<%= hotel._id %>/reviews/<%= review._id %>?_method=delete" method="post">
                                <input type="submit" value="delete" class="ms-2 mt-3 btn btn-danger btn-sm">
                            </form>
                        </div>
                    <% } %>
                </div>
                <div class="card-footer text-muted">
                    <%= review.user %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <div id="mapContainer"></div>
</div>
<script>
    mapboxgl.accessToken =
        'pk.eyJ1Ijoic3BsaWNlcjk5MDQiLCJhIjoiY2xnN2s5OTB3MDY3azNndDNpa2owaHZ2YiJ9.PedtrrnU42OwchHkKqrmLQ';
    const map = new mapboxgl.Map({
        container: 'mapContainer', // container ID
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/dark-v11', // style URL
        center: [ <%-hotel.location.coordinates%> ], // starting position [lng, lat]
        zoom: 15 // starting zoom
    });

    const popup = new mapboxgl.Popup().setHTML(
        '<h5><%=hotel.name%></h5><hr><p><%=hotel.address%></p>'
    );

    const marker1 = new mapboxgl.Marker({
            color: '#EA7900'
        })
        .setLngLat([<%-hotel.location.coordinates%> ])
        .setPopup(popup)
        .addTo(map);
    map.addControl(new mapboxgl.NavigationControl());
</script>
<%- include('../partials/footer.ejs') %>