<%- include('../partials/header') %>
<h1>show page for user <%= foundUser.username %></h1>
<ul>
    <li><%= foundUser.username %></li>
    <li><%= foundUser.cgpa %></li>
    <li><%= foundUser.phone %></li>
    <li><%= foundUser.dob %></li>
    <li><%= foundUser.gender %></li>
</ul>
<%- include('../partials/footer') %>