<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Hotels</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <%= page==='Home - StaySense'?'active':'' %>" aria-current="page"
                        href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= !page.includes('New') && page.includes('Hotel')?'active':'' %>"
                        aria-current="page" href="/hotels">Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= page==='New Hotel - StaySense'?'active':'' %>" aria-current="page"
                        href="/hotels/new">Add a
                        new Hotel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= page==='Contact'?'active':'' %>" aria-current="page" href="/contact">Contact
                        Us</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <% if (currentUser) { %>
                <li class="nav">
                    <a class="nav-link" aria-current="page">Logged In As: <%= currentUser.username %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/logout">Logout</a>
                </li>
                <% } else { %>
                <li class="nav">
                    <a class="nav-link" aria-current="page" href="/auth/google">Login via Google</a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<% if (error && error.length) { %>
<div class="alert alert-danger" role="alert">
    <%= error %>
</div>
<% } %>
<% if (success && success.length) { %>
<div class="alert alert-success" role="alert">
    <%= success %>
</div>
<% } %>