<%- include('../partials/header') %>
<h1>index page of jobs</h1>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/jobs?page=<%= allJobs.prevPage %>">Previous</a></li>
        <li class="page-item"><a class="page-link" href="/jobs?page=<%= allJobs.page %>"><%= allJobs.page %></a></li>
        <li class="page-item"><a class="page-link" href="/jobs?page=<%= allJobs.page + 1 %>"><%= allJobs.page + 1 %></a>
        </li>
        <li class="page-item"><a class="page-link" href="/jobs?page=<%= allJobs.page + 2 %>"><%= allJobs.page + 2 %></a>
        </li>
        <li class="page-item"><a class="page-link" href="/jobs?page=<%= allJobs.nextPage %>">Next</a></li>
    </ul>
</nav>
<% for(let job of allJobs.docs) { %>
<div><%= job.companyName %> - <a href="/jobs/<%= job._id %>">view more</a></div>
<% } %>
<%- include('../partials/footer') %>