<%- include('../partials/header') %>
<h1>show page for job <%= foundJob.postName %></h1>
<div><%= foundJob.postName %></div>
<div><%= foundJob.companyName %></div>
<div><%= foundJob.ctc %></div>
<div><%= foundJob.cgpa %></div>
<div><%= foundJob.location %></div>
<div><%= foundJob.numberOfPositions %></div>
<div><%= foundJob.description %></div>
<div><%= foundJob.status %></div>
<a href="/jobs/<%= foundJob._id %>/edit" class="btn btn-warning">Edit</a>
<form action="/jobs/<%= foundJob._id %>?_method=delete" method="post">
    <input class="btn btn-danger" type="submit" value="delete">
</form>
<% if (currentUser) { %>
<a href="/jobs/<%= foundJob._id %>/apply/<%= currentUser._id %>" class="btn btn-info">Apply</a>
<% } %>
<a href="/jobs/<%= foundJob._id %>/questions" class="btn btn-primary">questions</a>
<a href="/jobs/<%= foundJob._id %>/test" class="btn btn-primary">give test</a>
<%- include('../partials/footer') %>